<li>
  <%= link_to project.name, edit_project_path(project) %>
  <p>
    <%= project.address %>;
    <%= project.email %><br>
    <%= project.no_buildings %> Buildings; 
    <%= project.no_units %> Units
  </p>
</li>